<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品列表页</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<!-- 页面显示部分 -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>秒杀列表</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>库存</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>创建时间</th>
                    <th>详情页</th>
                </tr>
                </thead>
                <tbody>

                    <tr th:each="item : ${list}">
                        <td><span th:text="${item.name}"></span></td>
                        <td>
                            <span><b class="stock" th:text="${item.number}"></b></span>
                        </td>
                        <td>
                            <span style="float:left;font-size: 13px;">[[${#dates.format(item.startTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                        </td>
                        <td>
                            <span style="float:left;font-size: 13px;">[[${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                        </td>
                        <td>
                            <span style="float:left;font-size: 13px;">[[${#dates.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                        </td>

                        <td>
                            <a th:href="'/seckill/' + ${item.seckillId} + '/detail'" target="_blank">
                                <button style="width:100%" class="btn btn-success">立即抢购</button>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>